/* Back to top */

.totop {
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 104400;
    background: #fa3031;
    display: none;
}

    .totop a, .totop a:visited {
        display: block;
        width: 30px;
        height: 30px;
        color: #fff;
        text-align: center;
        line-height: 30px;
    }

        .totop a:hover {
            color: #eee;
            text-decoration: none;
        }

.pagination {
    margin: 10px 0 5px 0;
}

    .pagination ul > li > a, .pagination ul > li > span {
        border: 1px solid #ccc;
        margin-right: 3px;
        padding: 3px 8px;
        background-color: #fff;
        color: #666;
    }

        .pagination ul > li > a:hover {
            color: #333;
            background: #fafafa;
        }

/* Widget */

.widget {
    margin-top: 10px;
    margin-bottom: 20px;
    background: #fff;
}

    .widget hr {
        margin: 4px 0;
        padding: 4px 0;
        border-top: 0;
        border-bottom: 1px solid #ddd;
    }

    .widget .table {
        margin: 0;
        width: 100%;
    }

    .widget .table-bordered {
        border: 0;
    }

        .widget .table-bordered th {
            border-bottom: 1px solid #ccc !important;
        }

        .widget .table-bordered td {
            border-top: 0 !important;
            border-bottom: 1px solid #ccc !important;
        }

            .widget .table-bordered td:first-child, .widget .table-bordered th:first-child {
                border-left: 0;
            }

    .widget .padd {
        padding: 15px;
    }

    .widget .widget-head {
        background-color: #f5f5f5;
        border: 1px solid #ddd;
        color: #777;
        font-size: 18px;
        padding: 12px 15px;
    }

        .widget .widget-head .widget-icons i {
            font-size: 14px;
            margin: 0 4px;
        }

        .widget .widget-head .widget-icons a {
            color: #aaa;
        }

            .widget .widget-head .widget-icons a:hover {
                color: #888;
            }

    .widget .widget-content {
        border-left: 1px solid #ddd;
        border-right: 1px solid #ddd;
        border-bottom: 1px solid #ddd;
    }

    .widget .widget-foot {
        background-color: #f9f9f9;
        border: 1px solid #ddd;
        border-top: 0;
        padding: 8px 15px;
        font-size: 13px;
        color: #555;
    }

    /* Widget colors */

    .widget.wred .widget-head {
        background-color: #fa3031;
        border: 1px solid #fa3031;
        color: #fff;
    }

    .widget.wlightblue .widget-head {
        background-color: #52b9e9;
        border: 1px solid #52b9e9;
        color: #fff;
    }

    .widget.wblue .widget-head {
        background-color: #1171a3;
        border: 1px solid #1171a3;
        color: #fff;
    }

    .widget.wgreen .widget-head {
        background-color: #43c83c;
        border: 1px solid #43c83c;
        color: #fff;
    }

    .widget.worange .widget-head {
        background-color: #f88529;
        border: 1px solid #f88529;
        color: #fff;
    }

    .widget.wviolet .widget-head {
        background-color: #932ab6;
        border: 1px solid #932ab6;
        color: #fff;
    }

        .widget.wred .widget-head .widget-icons a,
        .widget.wblue .widget-head .widget-icons a,
        .widget.wlightblue .widget-head .widget-icons a,
        .widget.worange .widget-head .widget-icons a,
        .widget.wgreen .widget-head .widget-icons a,
        .widget.wviolet .widget-head .widget-icons a {
            color: #fff;
        }

            .widget.wred .widget-head .widget-icons a:hover,
            .widget.wblue .widget-head .widget-icons a:hover,
            .widget.wlightblue .widget-head .widget-icons a:hover,
            .widget.worange .widget-head .widget-icons a:hover,
            .widget.wgreen .widget-head .widget-icons a:hover,
            .widget.wviolet .widget-head .widget-icons a:hover {
                color: #eee;
            }

    /* Widget white extras */

    .widget .nav-tabs > li a {
        padding: 5px 10px;
    }

    .widget .nav-tabs {
        margin-bottom: 5px;
    }

    .widget .tab-content {
        margin-bottom: 10px;
    }


/*#endregion */
